<?xml version="1.0"?>

<model>
  <name>My Gripper</name>
  <version>1.0</version>
  <sdf version='1.0'>simple_gripper.sdf</sdf>

  <author>
    <name>Nick Charron</name>
    <email>nicholas.c.charron@gmail.com</email>
  </author>

  <description>
    Creating a gripper for learning purposes. Based on Gazebo tutorial: http://gazebosim.org/tutorials/?tut=simple_gripper
  </description>
</model>
