<?xml version="1.0"?>
<model>
    <name> Top Plate for Husky </name>
    <version>0.1</version>

    <sdf>model.sdf</sdf>

    <author>
        <name>Nick Charron</name>
        <email>nicholas.c.charron@gmail.com</email>
    </author>

    <description>
     Top plate for husky
    </description>
</model>
