<?xml version="1.0"?>
<model>
    <name> Point Grey Cameleon 3 </name>
    <version>0.1</version>

    <sdf>model.sdf</sdf>

    <author>
        <name>Stanley Brown</name>
        <email>Stan.J.Brown@gmail.com</email>
    </author>

    <description>
     A simple ximia camera model.
    </description>
</model>
